@import '@styles/Variables';

.wrapper {
    width: 100%;
    padding: 50px;
    
    .gbgIcon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: white;
        margin-bottom: 40px;

        > svg {
            width: 80px;
            height: 80px;
        }
    }

    .games {
        margin-top: 50px;
        max-width: 800px;
        width: 100%;
    }
}