@import '@styles/Variables';

$transitionSpeed: 1s;

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    z-index: 90;
    background-color: $grey1;

    .loadingAnimation {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        -webkit-transition: opacity 1s linear;
        transition: opacity 1s linear;
    }

    .backgroundVideo {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        border: none;
    }

    .backgroundImage {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        object-fit: cover;
    }

    .mobileHeader {
        height: 60px;
        width: 100%;
        flex-shrink: 0;
        background-color: $grey2;

        @include for-tablet-landscape-up {
            display: none;
        }

        > button {
            all: unset;
            width: calc(100% / 3);
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.5s;
            &:hover {
                background-color: $grey3;
            }
            &.selected {
                background-color: $grey4;
                > svg {
                    color: $blue5;
                }
            }
            > svg {
                height: 40px;
                width: 40px;
                color: $grey6;
            }
        }
    }

    .mainContent {
        width: 100%;
        height: calc(100% - 60px);
        transition: height $transitionSpeed;
        @include for-tablet-landscape-up {
            height: 100%;
        }
        &.showBeads {
            height: calc(100% - 200px);
        }

        .commentBar {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: $white;
            flex-shrink: 0;
            transition: margin-left $transitionSpeed, width $transitionSpeed;
            z-index: $sidebarZIndex;

            @include for-tablet-landscape-up {
                padding-right: 20px;
                width: 350px;
            }

            &.hidden {
                width: 350px;
                margin-left: -350px;
                @include for-tablet-landscape-up {
                    margin-left: -330px;
                }
            }

            &.transparent {
                background-color: rgba($white, 0.3);
                .commentInput {
                    background-color: rgba(#f7f7f9, 0.2);
                }
                .closeCommentsBar {
                    background-color: rgba($grey2, 0.2);
                }
            }

            .comments {
                position: relative;
                padding: 10px;

                .userComment {
                    margin-bottom: 10px;
                    overflow: hidden;

                    .textWrapper {
                        margin-left: 10px;
                        width: calc(100% - 50px);

                        .header {
                            height: 20px;
                            overflow: hidden;
                            > h1 {
                                font-size: 14px;
                                font-weight: 800;
                                margin: 0;
                                overflow-wrap: break-word;
                            }
                            > p {
                                margin-left: 5px;
                                color: $grey4;
                                overflow-wrap: break-word;
                            }
                        }

                        p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                .adminComment {
                    margin-bottom: 10px;
                    color: $grey4;
                }
            }

            .commentInput {
                display: flex;
                padding: 10px;
                background-color: #f7f7f9;
            }

            .closeCommentsButton {
                all: unset;
                position: absolute;
                cursor: pointer;
                display: none;
                justify-content: center;
                align-items: center;
                right: 0;
                height: 100%;
                width: 20px;
                background-color: $grey2;
                > svg {
                    color: $grey4;
                    height: 18px;
                }
                @include for-tablet-landscape-up {
                    display: flex;
                }
            }
        }

        .centerPanel {
            width: 100%;
            position: relative;
            transition: margin-left $transitionSpeed;

            &.hidden {
                margin-left: -350px;
            }

            .gameControls {
                align-items: flex-start;
                position: absolute;
                left: 20px;
                top: 20px;

                @include for-phone-only {
                    top: 70px;
                }

                &.large {
                    > p {
                        font-size: 16px;
                    }
                    .player {
                        .position {
                            width: 35px;
                            height: 35px;
                            font-size: 16px;
                            flex-shrink: 0;
                        }
                        .playerState {
                            font-size: 16px;
                        }
                    }
                }

                > p {
                    font-size: 10px;
                    margin-bottom: 5px;
                }

                .player {
                    margin-top: 5px;
                    @include for-tablet-landscape-up {
                        margin-top: 10px;
                    }

                    .position {
                        width: 20px;
                        height: 20px;
                        font-size: 10px;
                        flex-shrink: 0;
                    }

                    .playerState {
                        color: $grey4;
                        font-size: 10px;
                    }
                }

                .gameLocked {
                    margin-bottom: 10px;
                    > svg {
                        width: 15px;
                        height: 15px;
                        opacity: 0.3;
                        margin-right: 5px;
                    }
                    > p {
                        color: $grey5;
                        font-size: 12px;
                    }

                    @include for-tablet-landscape-up {
                        margin-bottom: 15px;
                        > svg {
                            width: 25px;
                            height: 25px;
                            margin-right: 7px;
                        }
                        > p {
                            color: $grey5;
                            font-size: 16px;
                        }
                    }
                }
            }

            .timerColumn {
                margin-top: 30px;
                width: 100%;
                height: 100%;
                min-width: 300px;
                overflow: hidden;

                .curvedDNA {
                    position: absolute;
                    top: 140px;
                    height: calc(100% - 140px);
                    color: $grey3;
                    z-index: -1;
                    @include for-tablet-landscape-up {
                        top: 200px;
                        height: calc(100% - 200px);
                    }

                    &.withBeads {
                        height: 100%;
                    }
                }

                .topicText {
                    > h1 {
                        margin: 0;
                        font-size: 20px;
                        line-height: 20px;
                        @include for-tablet-landscape-up {
                            font-size: 25px;
                            line-height: 25px;
                        }
                    }
                    > button {
                        all: unset;
                        cursor: pointer;
                        margin-left: 10px;
                        width: 24px;
                        height: 24px;
                        color: $grey3;
                        flex-shrink: 0;
                    }
                }

                .topicImage {
                    width: 100px;
                    height: 100px;
                    margin-top: 10px;
                    border-radius: 50%;
                    background-color: #fbfbfb;
                    box-shadow: 0 0 10px 0 rgba(10, 8, 72, 0.15);
                    position: relative;
                    flex-shrink: 0;

                    @include for-tablet-landscape-up {
                        width: 140px;
                        height: 140px;
                        margin-top: 20px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .uploadTopicImageButton {
                        all: unset;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: rgba(black, 0.4);
                        color: white;
                        font-size: 16px;
                        text-align: center;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition-property: opacity;
                        transition-duration: 0.3s;
                        &:hover {
                            opacity: 1;
                        }
                        p {
                            padding: 0 15px;
                        }
                    }
                }

                .timerContainer {
                    width: 100%;
                    max-width: 550px;
                    height: calc(100% - 134px);
                    padding: 30px;

                    @include for-tablet-landscape-up {
                        height: calc(100% - 186px);
                        padding: 50px;
                    }
                }

                .timer {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    position: relative;

                    > .timerArcTitles {
                        position: absolute;
                        top: -1px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        > p {
                            margin-bottom: 8px;
                        }
                        > span {
                            font-size: 24px;
                        }
                    }
                    > .mainBead {
                        width: 160px;
                        height: 160px;
                        position: absolute;
                        top: calc(50% - 80px);
                        background-color: #fbfbfb;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.15);
                        > img {
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }

            .people {
                position: absolute;
                right: 20px;
                top: 20px;

                > p {
                    margin-bottom: 10px;
                }

                @include for-phone-only {
                    top: 70px;
                }

                .peopleStreaming,
                .peopleInRoom {
                    display: none;
                    @include for-tablet-landscape-up {
                        display: flex;
                    }
                }
            }
        }

        .videos {
            $fullWidth: 1280;
            $fullHeight: 720;
            $padding: 10px;
            margin: $padding;
            width: 450px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            transition: margin $transitionSpeed;

            // sizing
            // 1 - 2
            &.xl {
                $width: calc($fullWidth / 3) + px;
                $height: calc($fullHeight / 3) + px;
                &.hidden {
                    margin-right: -$width;
                }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // 3
            &.lg {
                $width: calc($fullWidth / 4) + px;
                $height: calc($fullHeight / 4) + px;
                &.hidden {
                    margin-right: -$width;
                }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // 4
            &.md {
                $width: calc($fullWidth / 5) + px;
                $height: calc($fullHeight / 5) + px;
                &.hidden {
                    margin-right: -$width;
                }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // 5 +
            &.sm {
                $width: calc($fullWidth / 6) + px;
                $height: calc($fullHeight / 6) + px;
                &.hidden {
                    margin-right: -$width;
                }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // mobile
            &.mobile {
                $width: 100%;
                $height: auto;
                &.hidden {
                    margin-right: -100%;
                }
                width: $width;
                width: calc(100% - 20px);
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }

            .videoWrapper {
                display: flex;
                position: relative;
                margin-bottom: $padding;
                flex-shrink: 0;
                &:last-child {
                    margin-bottom: 0;
                }
                > svg {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: calc(50% - 30px);
                    left: calc(50% - 30px);
                    color: $grey6;
                }
                > video {
                    border-radius: 10px;
                    background-color: $grey4;
                    object-fit: cover;
                }
                > .videoUser {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 7px;
                    padding: 7px 10px;
                    border-radius: 7px;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                > .videoButtons {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 8px 12px;
                    display: flex;
                    > button {
                        all: unset;
                        color: $white;
                        background-color: rgba($black1, 0.3);
                        padding: 7px;
                        border-radius: 50%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                        > svg {
                            width: 20px;
                            height: 20px;
                            opacity: 0.8;
                            transition: opacity 0.5s;
                        }
                        transition: background-color 0.5s;
                        &:hover {
                            background-color: rgba($black1, 0.5);
                            > svg {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .beads {
        position: absolute;
        bottom: 0;
        padding: 0 20px;
        background-color: rgba($grey1, 0.5);
        border-top: 1px solid #ddd;
        height: 140px;
        width: 100%;
        flex-shrink: 0;
        overflow-x: scroll;
        transition: height $transitionSpeed;

        @include for-tablet-landscape-up {
            height: 200px;
            padding: 0 40px;
        }

        &.hidden {
            height: 0;
        }

        &.transparent {
            background-color: rgba($white, 0.3);
        }

        .bead {
            width: 100px;
            height: 100px;
            > img {
                width: 50px;
                height: 50px;
                left: calc(50% - 25px);
                top: calc(50% - 25px);
            }
            @include for-tablet-landscape-up {
                width: 140px;
                height: 140px;
                > img {
                    width: 80px;
                    height: 80px;
                    left: calc(50% - 40px);
                    top: calc(50% - 40px);
                }
            }
        }

        .beadDivider {
            width: 30px;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            > svg {
                transform: rotate(90deg);
                height: 30px;
                color: $grey3;
            }

            @include for-tablet-landscape-up {
                width: 50px;
                > svg {
                    height: 50px;
                }
            }
        }
    }
}

// game settings modal
.settingSections {
    display: flex;
    margin: '10px 0 30px 0';

    @include for-phone-only {
        flex-direction: column;
    }
}
.position {
    width: 35px;
    height: 35px;
    background-color: $white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.positionControls {
    height: 35px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > button {
        all: unset;
        cursor: pointer;
        display: flex;
        color: $grey4;
        &:hover {
            color: $grey5;
        }
        &:disabled {
            color: $grey3;
            cursor: unset;
        }
        > svg {
            width: 16px;
            height: 16px;
        }
    }
}

.grey {
    margin-top: 10px;
    color: $grey5;
}

.red {
    margin-top: 10px;
    color: $red;
}
