.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    overflow: hidden;

    &.clickable {
        cursor: pointer;
    }

    p {
        margin: 0 0 0 5px !important;
        font-size: 14px;
        white-space: nowrap;
        &.wrapText {
            white-space: normal;
        }
    }
}
