@use '@styles/Variables' as *;

.wrapper {
    width: 100%;
    max-width: 650px;

    p {
        margin-bottom: 10px;
        text-align: center;
    }

    a {
        color: $blue2;
        text-decoration: underline;

        &:hover {
            color: $blue3;
        }
    }

    .version {
        margin-top: 16px;
        font-size: 12px;
        color: $grey6;
    }
}

.navButton {
    all: unset;
    cursor: pointer;
    width: 30px;
    height: 30px;

    > svg {
        width: 30px;
        height: 30px;
        color: $grey3;
    }
}