@import '@styles/Variables';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f7f7f9; //#eee;
    width: 100%;
}

#root {
    width: 100%;
}

.scrollbar-theme {
    // disable hidden scroll bars
    &.os-theme-none {
        > .os-scrollbar-vertical, > .os-scrollbar-horizontal {
            display: flex !important;
        }
    }
    .os-padding {
        z-index: unset;
    }

    // scroll bar styles
    > .os-scrollbar-vertical > .os-scrollbar-track {
        width: $scrollBarWidth;
    }

    > .os-scrollbar-horizontal > .os-scrollbar-track {
        height: $scrollBarWidth;
    }

    > .os-scrollbar-vertical {
        height: 100%;
    }

    > .os-scrollbar-horizontal {
        width: 100%;
    }

    > .os-scrollbar-vertical, > .os-scrollbar-horizontal {
        .os-scrollbar-track {
            //width: $scrollBarWidth;
            border-radius: calc($scrollBarWidth / 2);
            background-color: transparent;
            padding-bottom: 5px;
            transition: background-color 0.3s;
        }
        .os-scrollbar-handle {
            border-radius: calc($scrollBarWidth / 2);
            background-color: transparent;
            transition: background-color 0.3s;
        }
    }

    &:hover, &:active {
        > .os-scrollbar-vertical, > .os-scrollbar-horizontal {
            .os-scrollbar-track {
                background-color: $grey2;
            }
            .os-scrollbar-handle {
                background-color: $grey4;
            }
        }
    }

    &.row {
        .os-content {
            display: flex;
            flex-direction: row;
        }
    }

    &.wrap {
        .os-content {
            flex-wrap: wrap;
        }
    }
}

.flatpickr-calendar {
    top: unset !important;
    bottom: -345px !important;
    left: 0 !important;
}

h1 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black; // $blue1;
    &:hover { cursor: pointer }
}

ul {
    padding: 0;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.success {
    color: $green;
}

.danger {
    color: $red;
}

.uploadPictureContainer {
    width: 100%;
}

.page-title {
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    background-color: transparent;
}

// Fonts
.modal-title-large {
    font-size: 26px;
    font-weight: 400;
}

.modal-title-medium {
    font-size: 20px;
    font-weight: 400;
}

// Animation Keyframes
@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.hide-scrollbars {
    // Hide scroll bars on Firefox:
    scrollbar-width: none;

    // Hide scroll bars on Microsoft Edge:
    -ms-overflow-style: none;

    // Hide scroll bars on Chrome:
    ::-webkit-scrollbar {
        display: none;
    }
}

// recaptcha
.grecaptcha-badge { 
    visibility: hidden;
    z-index: 20;
}

.recaptchaText {
    font-size: 12px;
    color: rgb(177, 177, 177);

    a {
        color: #68a1f7;
        margin-left: 3px;
    }
}

.grey {
    color: $grey5;
}

.blueText {
    color: rgb(104, 161, 247);
    &:hover {
        cursor: pointer;
    }
}
